@font-face {
  font-family: 'cgt';

  src        : url('../fonts/布丁体/王汉宗粗钢体-标准.ttf') format('truetype');
  font-weight: normal;
  font-style : normal;
}




html {
  font-size  : 16px;
  font-family: cgt;
}

body {
  margin: 0;
  color : #fff;
}

/*==========================scroll=========================*/
::-webkit-scrollbar {
  width           : 6px;
  height          : 6px;
  background-color: rgba(0, 0, 0, .2);
}

::-webkit-scrollbar-thumb {
  background-color: #2ac3ff;
}

::selection {
  background: #2ac3ff;
  color     : #fff;
}

/*============================scroll===========================*/
.navbar {
  margin-bottom: 0;
}

.navbar-collapse {
  padding: 0
}

.navbar-inverse {
  /* background-color: transparent; */
  border             : 0;
  position           : fixed;
  top                : 0;
  left               : 0;
  right              : 0;
}

#cxo-intro {
  position             : relative;
  overflow             : hidden;
  width                : 100%;
  display              : flex;
  justify-content      : center;
  align-items          : center;
  flex-direction       : row;
  flex-wrap            : wrap;
  flex                 : 0 1 auto;
  align-content        : center;
  background-repeat    : no-repeat;
  background-attachment: fixed;
  background-color     : #000;
  height               : 40vh;
  background-image     : url(../images/bg.png);
  background-position  : right;
  background-size      : contain;
}

#cxo-intro h5 {
  margin     : 1rem;
  font-weight: 500;
  font-size  : 1.5rem;
  color      : snow;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

/* =========================头像========================== */
#cxo-profile {
  width             : 10rem;
  position          : fixed;
  left              : 1%;
  top               : 15%;
  z-index           : 2;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition   : all .4s ease-in-out;
  -o-transition     : all .4s ease-in-out;
  -ms-transition    : all .4s ease-in-out;
}

.profile-avatar i {
  position          : absolute;
  bottom            : .5rem;
  right             : .8rem;
  font-size         : 1.7rem;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition   : all .4s ease-in-out;
  -o-transition     : all .4s ease-in-out;
  -ms-transition    : all .4s ease-in-out;
  transform-origin  : center;
  transform         : rotate(45deg);
  color             : #333;
  cursor            : pointer;
}

.fa {
  display                : inline-block;
  font                   : normal normal normal 14px/1 FontAwesome;
  font-size              : inherit;
  text-rendering         : auto;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  border-style: none;
}

.profile-avatar img {
  border-radius: 50%;
  width        : 100%;
}

.fa-caret-left:before {
  content: "\f0d9";
}

.profile-avatar {
  width             : 10rem;
  height            : 10rem;
  border-radius     : 50% 50% 5px 50%;
  background-color  : hsla(0, 100%, 99%, .7);
  padding           : .5rem;
  position          : absolute;
  top               : 0;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition   : all .4s ease-in-out;
  -o-transition     : all .4s ease-in-out;
  -ms-transition    : all .4s ease-in-out;
  box-shadow        : 0 0 8px hsla(0, 0%, 47%, .7);
}

#top {
  margin-top: 60px;
}

.detail {
  margin   : 5% 0;
  font-size: 14px;
}

.navbar-inverse .navbar-nav>li>a {
  /* color      : #03339e; */
  font-weight   : 600
}

.container:not(.content) {
  padding-left: 0;
}

.content {
  background-color: #f7f5f5;
  height          : 970px;
}

.banner-wrapper {
  height          : 200px;
  background      : url(/images/bg_sm.png) repeat;
  background-color: #000;
}

.banner-container {
  height             : 100%;
  background         : url(/images/bg.png) no-repeat;
  background-position: center;
  background-size    : auto 100%;
}

.detail p,
.detail a {
  font-size: 18px;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
  }
}