@font-face {
    font-family: "Medium";
    src        : url('../font/TCBeta.ttf');
    src        : url('../font/TCBeta.ttf') format('truetype');
}

body {
    position        : relative;
    padding-bottom  : 30px;
    overflow        : auto;
    line-height     : normal;
    font-family     : "Medium";
    color           : #333;
    font-size       :26px;
    height          : auto;
   
    min-height      : 100%;
    background-color: rgb(247, 247, 255);
}